/**
 * Header style
 */

#section-header {
  background: rgba(0, 0, 0, 0.7);
}

.zone-branding .region-branding {
  margin: 0;

  .logo-img {
    float: none;
    margin: 10px 0 5px;
    text-align: center;
  }
}
.region-branding-inner {
  & > div, & > section {
    margin-right: 5px;
    /*min-height: 20px;*/
    padding: 20px 5px 0;
    position: relative;
    z-index: 500;

    @include breakpoint(720px) {
      float: left;
    }
  }

  .branding-data {
    padding: 0 5px 0 0;

    img {
      width: 120px;
    }
  }

  #block-views-shopping-cart-block {
    a {
      font-size: 10px;
    }
  }
}

.region-branding-inner > div, 
.region-branding-inner > section {
  height: 55px;
}

#block-block-9 {
  padding-top: 20px;

  h2.block-title {
    margin-top: -10px;
  }
}
#block-user-login,
#block-system-user-menu,
#block-search-form,
#block-views-shopping-cart-block,
#block-block-9 {
  border-bottom: 2px transparent solid;
  border-left: 1px transparent solid;
  border-right: 1px transparent solid;
  color: #FFF;

  @include breakpoint(720px) {
    position: relative;
  }

  .content {
    color: #333;
    display: block;
    height: auto;
    left: 0;
    visibility: visible;
    opacity: 0;
    position: absolute;
    top: 100px;
    z-index: 1000;

    @include box-shadow(#CCC 2px 2px 0);
    @include transition-property("all");
    @include transition-duration(0.4s);        
  }



  &:hover {
    background: rgba(0, 0, 0, 0.2);
    border-color: transparent;
    border-bottom-color: #B4239E;
    border-left-color: #555;
    border-right-color: #555;

    h2.block-title {
      &:after {
        bottom: 0 !important;
        color: #FFF;
        border: 7px #000 solid;
        border-color: transparent transparent #B4239E transparent;
        bottom: 0;
        display: block;
        content: "";
        position: absolute;
        height: 0;
        left: 40%;
        width: 0;
      }
    }

    .content {
      opacity: 1;
      top: 77px;
    }
  }
}

.block-shopping-cart-block,
#block-views-shopping-cart-block {
  
  h2.block-title {
    background: transparent;
    color: #FFF;
    display: inherit;      
    font-size: 2em;
    height: 100%;
    margin: 0 auto;      
    position: relative;
    text-indent: -9999px;
    width: 40px;
    
    @extend .fa;
    @extend .fa-opencart;
    &:before {
      font-family: "FontAwesome";
      right: 0;
      position: absolute;
      text-indent: 0;
    } 
  }
}

#block-search-form {
  padding: 20px 20px 0;
  overflow: hidden;
  
  h2.block-title {
    color: #FFF;
    font-size: 2em;
    position: relative;
    text-indent: -9999px;
    width: 40px;

    @extend .fa;
    @extend .fa-search;
    &:before {
      font-family: "FontAwesome";
      right: 0;
      position: absolute;
      text-indent: 0;
    }      
  }

  &:hover {
    overflow: visible;
    
    h2.block-title {
      height: 55px;

      &:after {
        border: 7px #000 solid;
        border-color: transparent transparent #B4239E transparent;
        bottom: 0;
        display: block;
        content: "";
        position: absolute;
        height: 0;
        left: 40%;
        width: 0;
      } 
    }     
  }

  .content {
    background: #FFF;
    border: 1px #A8A8A8 solid;
    padding: 5px;
    @include border-radius(0);

    form {
      border: none;
      padding: 3px;
      width: 250px;

      .form-item {
        display: inline-block;
        float: left;
        margin: 0;
        width: 74%;

        .form-text {
          display: inline-block;
          border: 1px darken(#F3F3F3, 20) solid;
          line-height: 40px;
          font-size: 1.8em;
          padding: 10px 5px;

          &:active, &:focus {
            @include box-shadow(transparent 0 0 0);
          }
        }
      }
      .form-actions {

        .form-submit {
          background: #B4239E;
          color: #FFF;
          display: inline-block;
          float: right;
          margin: 0;
          line-height: 40px;
          width: 25%;

          @include border-radius(0px);

          &:hover {
            background: lighten(#B4239E, 10);
          }
        }
      }
    }
  }
}

.block-shopping-cart-block {
  overflow: hidden;

  .block-inner {
    height: 100%;
  }

  &:hover {
    overflow: visible;
  }

  .content {
    background: #FFF;
    border: 1px darken(#f4f4f4, 30) solid;  
    left: auto !important;
    padding:10px 20px 0 20px;
    right: 0;
    width: 300px; 

    ul.links {
      clear: none;
      display: inline-block;
      margin: 0;
      text-align: center;
      width: 100%;
    }

    .line-item-summary-checkout a {
      background: #B4239E;
      color: #FFF;
      display: inline-block;
      font-size: 1em !important;
      margin-top: 10px;
      padding: 5px 10px;

      @include border-radius(2px);

      @include transition-property("all");
      @include transition-duration(0.4s);

      &:hover {
        background: lighten(#B4239E, 10);
      }
    }

  }
}

#block-block-9 {
  overflow: hidden;
  position: relative;
  width: 70px;
  z-index: 500; 

  &:hover {
    overflow: visible;
  } 

  h2.block-title {
    background: transparent url(../images/icon_whatsapp.png) 50% 10px no-repeat;
    background-size: 35px;
    height: 60px;
    text-indent: -9999px;
  } 

  .content {
    background: #FFF;
    border: 1px darken(#f4f4f4, 30) solid;
    padding: 10px;
    width: 120px;

    p {
      font-size: 1.2em;
      margin-bottom: 0;
    }
  }   
}

#block-block-10,
#block-block-8 {
  padding-top: 16px;

  .content {
    p {
      background: #B4239E;
      border: 3px #FFF solid;
      color: #FFF;
      display: block;
      padding: 5px 10px;

      @include background-image(linear-gradient(lighten(#B4239E, 20), #B4239E));
      @include border-radius(10px);
      @include box-shadow(#CCC 1px 1px 2px);
    }

    a {
      color: #F5F5F5;

      &:hover {
        color: #FFF;
      }
      @extend .fa;
      @extend .fa-envelope-o;
      &:before {
        font-family: "FontAwesome";
      }

    }
  }
}

#block-user-login,
#block-system-user-menu {
  padding-left: 5px;
  padding-right: 5px; 
  overflow: hidden;

  h2.block-title {
    color: #FFF;
    font-size: 2em;
    height: 55px;
    position: relative;
    text-indent: -9999px;
    min-width: 20px;

    @extend .fa;
    @extend .fa-user;
    &:before {
      font-family: "FontAwesome";
      right: 40px;
      position: absolute;
      text-indent: 0;
    }      
  } 

  &:hover {
    overflow: visible;
  } 

  .content {
    background: #FFF;
    padding: 10px 20px;
    min-width: 120px;
  }
}

#block-user-login {
  min-width: 60px;
  padding-left: 35px;

  h2.block-title {

    @extend .fa;
    @extend .fa-user;
    &:before {
      font-family: "FontAwesome";
      right: 0;
      position: absolute;
      text-indent: 0;
    }     
  }

  .content {
    left: inherit;
    min-width: 180px;
    right: 0;
  }
}

#zone-menu-wrapper {
  background: #F8F8F8;
  /*@include background-image(linear-gradient(lighten(#006680, 10), #006680));*/
  border-bottom: 1px #CCC solid;

  .sf-menu.sf-style-space-teal {
    background: transparent;
    margin-bottom: 0;

    li {
      background: transparent;
      color: #666;
      margin-left: 0;

      a {
        color: lighten(#333, 10);
        font-size: 1.1em;
        font-weight: bold;

        @include transition-property("all");
        @include transition-duration(0.4s);        

        &.active, &:hover.active {
          color: #FFF;
          background: #B4239E; 
          /*@include background-image(linear-gradient(lighten(#B4239E, 10), #B4239E));*/          
        }

        &:hover,&:active, 
        &:focus {
          background: #B4239E;
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }
}

/**
 * small screens
 */
#region-branding {
  padding-top: 50px;
  @include breakpoint(720px) {
    padding-top: 0;
  }

} 

#block-user-login,
#block-system-user-menu,
#block-search-form,
#block-views-shopping-cart-block,
#block-block-9 {}

#block-user-login,
#block-block-9,
#block-search-form {
  position: absolute;
  top: 0;
  @include breakpoint(720px) {
    position: relative;
  }
}
#block-search-form {
  right: 100px;

  .content {
    left: inherit;
    right: 0;
  }

  @include breakpoint(720px) {
    right: inherit;

    .content {
      left: 0;
      right: inherit;
    }
  }  
}
#block-block-9 {
  left: inherit;
  right: 0;

  .content {
    left: inherit;
    right: 0;

    @include breakpoint(720px) {
      left: 0;
    }
  }
}

#block-user-login {
  left: 0;

  .content {
    left: 0;
    right: inherit;
  }
  @include breakpoint(720px) {
    left: inherit;

    .content {
      left: inherit;
      right: 0;
    }    
  }  
}

.block-shopping-cart-block {
  display: none;
  @include breakpoint(720px) {
    display: inline-block;
  }
}