/**
 * Landing page 2
 */

#block-views-estilos-collection {
  border: 1px #000 solid;
  

  .jcarousel-skin-default .jcarousel-item,
  li {
    background: #F8F8F8;
    border-bottom: 1px #CCC solid;
    border-top: 1px #CCC solid;      
    border-left: 1px #CCC solid;
    float: left;
    font-size: 1.1em;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    height: 110px;
    width: 20%;

    @include transition-property("all");
    @include transition-duration(0.4s);

    &:last-child {
      border-right: 1px #CCC solid;
    }

    @include breakpoint(720px) {
      width: 16.5%;
    }

    &:hover {
      background: lighten(#B4239E, 10);
      color: #FFF;
    }

    a {
      color: #333;
      display: block;
      font-size: 1.5em;
    }
  }

}

#block-views-display-products-flex-outlet {
  margin-top: 0;
  
  h2.block-title {
    font-size: 28px;
    text-align: center;
    display: none;
  }

  .jcarousel-skin-default .jcarousel-clip-horizontal {
    
    li {
      border: none;
      margin: 0 3px 0 0;
      width: 250px;
    }
  }  
}

  .views-summary {
    width: 99%;

    li {
      border: 1px #FFF solid;
      border-left: none;
      border-top: none;
      display: block;
      float: left;
      margin: 0 !important;
      text-align: center;
      width: 50%;

      background: #F8F8F8;  
      color: #333;      
      display: inline-block;
      font-size: 1.4em;
      height: 60px;
      padding-top: 40px !important; 

      @include transition-property("all");
      @include transition-duration(0.4s);      

      @include breakpoint(720px) {
        width: 19.5%;
      }       

      a {
        color: #333;
      }
      
      &:hover {
        background: lighten(#B4239E, 10);
        color: #FFF;

        a {
          color: #FFF;
        }
            
      }
    }
  }