/**
 * Landing page 2
 */
 .page-nuevos-productos {
    #section-header {
      background: rgba(0, 0, 0, 0.7);
    }

    #region-branding {

    }

    .region-branding-inner > div, 
    .region-branding-inner > section {
      height: 55px;
    }

    #block-block-9 {
      padding-top: 20px;

      h2.block-title {
        margin-top: -10px;
      }
    }

    #block-views-shopping-cart-block,
    #block-block-9 {
      border-bottom: 2px transparent solid;

      .content {
        display: block;
        height: auto;
        visibility: visible;
        opacity: 0;
        top: 100px;
        z-index: 1000;
      }



      &:hover {
        background: transparent;
        border-color: transparent;

        h2.block-title:after {
          bottom: 0 !important;
        }

        .content {
          opacity: 1;
          top: 77px;
        }
      }
    }
 }