#region-preface-first {

}
#region-preface-third {

}

#zone-content {
  position: inherit;

  #messages {
    position: absolute;
    top: 150px;
  }
}

@include breakpoint(720px) {
  #region-preface-first,
  #region-preface-second {
    float: left;
    width: 48%;
  }
}

/**
 * Landing page 2
 */
.page-nuevos-productos {

  @include breakpoint(720px) {
    #block-block-11,
    #block-views-display-products-flex-outlet {
      float: left;
      width: 49%;
    }
  }
}