#region-preface-first {

}
#region-preface-third {

}

#zone-content {
  position: inherit;

  /*#messages {
    position: absolute;
    top: 150px;
    width: 90%;
    z-index: 999;
  }*/
}

@include breakpoint(720px) {
  #region-preface-first,
  #region-preface-second {
    float: left;
    width: 48%;
  }
}

/**
 * Landing page 2
 */
.page-nuevos-productos {

  @include breakpoint(720px) {
    #block-block-11 {
      float: left;
      width: 49%;
    }

    #block-views-display-products-flex-outlet {
      margin: 0 auto;
      width: 90%;
    }
  }


}


.context-categoria {
  border: 1px #000 solid;
}
