/**
 * Products Page
 */

.node-product-type {
  .product-title {
    clear: both;
    font-family: $headerfont;
    font-size: 24px;
    font-weight: 700;
  }
  .commerce-product-sku {
    color: #b1b1b1;
    font-family: $headerfont;
    font-size: 13px;
    font-weight: 400;
    .commerce-product-sku-label {
      font-weight: normal;
    }
  }
  .field-name-commerce-price {
    font-family: $headerfont;
    font-size: 30px;
    font-weight: 700;
    /*margin-bottom: 20px;*/
  }
  .cloud-zoom-container {
    margin-bottom: 20px;
    #wrap {
      float: inherit;
      z-index: 10 !important; /* Fix overlay */
    }
    .cloud-zoom-gallery-thumbs {
      clear: both;

      .cloud-zoom-gallery {
        border: 1px solid #5b5b5b;
        display: inline-block;
        float: none;
        margin: 5px 0;
      }
    }
  }
  .field-name-body {
    font-family: $headerfont;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;

    .read-more,
    .read-less,
    .read-more a,
    .read-less a {
      font-family: $headerfont;
      font-size: 14px;
      font-weight: 400;
    }
    .read-more a,
    .read-less a {
      background-position: left top; /* LTR */
      background-repeat: no-repeat;
      color: #898a8c;
      display: block;
      height: 18px;
      margin-top: 10px;
      padding-right: 20px; /* LTR */
      text-decoration: none;
      text-indent: 25px;
      text-transform: capitalize;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .read-more a {
      background-image: url('../images/btn_read_more.png');
    }
    .read-less a {
      background-image: url('../images/btn_read_less.png');
    }
  }
  .field-type-commerce-product-reference {
    /*background: url('../images/bg_product_attributes_bottom.png') center bottom no-repeat;*/
    margin-bottom: 15px;
    padding-bottom: 50px;

    form.commerce-add-to-cart {
      /*background: url('../images/bg_product_attributes_top.png') center top no-repeat;*/
      padding-top: 40px;

      .attribute-widgets {
        .form-item {
          position: relative; /* Positions the throbber */

          &:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
          }
          div#edit-attributes-field-color {
            float: left; /* LTR */
            width: 50%;
          }
          .ajax-progress-throbber { /* Positions the throbber */
            display: none;
            position: absolute;
          }
          .description {
            position: relative;
          }
        }
        .form-item-attributes-field-color {
          .form-item.form-item-attributes-field-color {
            float: left; /* LTR */
            margin-right: 5px; /* LTR */
            width: auto;
          }
          .commerce-fancy-attributes-color {
            height: 20px;
            width: 20px;
          }
          .description .field {
            border: 1px solid #CBCDCC;
            padding: 3px;
          }
          .description-selected .field {
            border-color: $color1;
          }
        }
      }
      label {
        float: left; /* LTR */
        font-family: $headerfont;
        font-weight: 600;
        margin-right: 5px; /* LTR */
        white-space: nowrap;
        width: 45%;

        &:after {
          content: " :";
        }
      }
      .form-item {
        margin: 0;
        padding-bottom: 1em;
      }
      .form-submit {
        xbackground-color: #2698F2;
        background-image: url('../images/bg_add_to_cart.png');
        background-position: 95% 50%; /* LTR */
        background-repeat: no-repeat;
        xborder: 0;
        /*@include rounded-corners(8px);*/
        xcolor: #ffffff;
        xfont-family: $headerfont;
        xfont-size: 17px;
        xfont-weight: 400;
        xmargin-top: 40px;
        xmargin-left: 5px; /* LTR */
        xpadding: 5px 50px 5px 10px; /* LTR */

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.service-links {

  ul.links {
    margin-top: 30px;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #efefef; 
  }

  ul li {
    display: inline;
    margin: 0 5px;
    padding: 0;
    width: 90px;
    &:first {
      margin-left: 0;
    }
  }

  @include breakpoint(720px) {

  }  
}


.node-product-type {
  text-align: center;

  .field-field-images {
    margin: 0 auto;
    width: 300px;

    #wrap {
      border: 1px #efefef solid;
      padding: 9px;
    }
  }

  .form-item-quantity,
  .attribute-widgets {
    display: inline-block;
    margin: 0 auto !important;
    width: 300px;
  }

  form.commerce-add-to-cart .form-submit {
    border: none;
    background: #B4239E;
    color: #FFF;
    font-size: 1.4em;
    font-weight: 100;
    padding: 10px 50px 10px 20px;
    @include border-radius(2px);

    &:hover, &:active, &:focus {
      background-color: lighten(#B4239E, 10);
      @include box-shadow(transparent 0 0 0);
    }
  }

  @include breakpoint(720px) {

    .images-region {
      float: left;
    }

    form.commerce-add-to-cart .form-submit {
      display: block;
      margin: 50px auto 0;
    }

  }  
}

/**
 * Block populares style
 */
#block-views-productos-populares-block {
  border: 1px #000 solid;

  .block-title {
    font-size: 2em;
    text-align: center;
  }

  .node {
    border: 1px #EFEFEF solid;
    margin: 0 auto 20px;
    text-align: center;
    width: 90%;

    @include breakpoint(720px) {
      float: left;
      margin-right: 2%;
      width: 22%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  h2.node-title {
    font-size: 1.6em;
    font-weight: 100;
  }
}
