/**
 * Products Page
 */
.node-product-type {
  border: 1px #000 solid;

  .field-field-images {
    float: left;

    #wrap {
      border: 1px #efefef solid;
      padding: 9px;
    }
  }

  .field-type-commerce-product-reference form.commerce-add-to-cart  {
    background: transparent;
  }
}

