/**
 * Ropa Mujer styles
 */
 /**
  * Header Styles
  */
#section-header {
  background: #f2f2f2;
}
#block-search-form form {
  border: 1px #CCC solid;
  padding: 2px 5px;
  @include border-radius(10px);

  .form-text {
    background: transparent;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .form-submit {
    background: transparent;
    border: none;
  }
}
#block-block-10,
#block-block-8 {
  padding-top: 16px;

  .content {
    p {
      background: #B4239E;
      border: 3px #FFF solid;
      color: #FFF;
      display: block;
      padding: 5px 10px;

      @include background-image(linear-gradient(lighten(#B4239E, 20), #B4239E));
      @include border-radius(10px);
      @include box-shadow(#CCC 1px 1px 2px);
    }

    a {
      color: #F5F5F5;

      &:hover {
        color: #FFF;
      }
    }
  }
}

#block-block-9 {
  border-left: 1px transparent solid;
  border-right: 1px transparent solid;  
  display: block;
  float: left;
  overflow: hidden;
  padding-top: 0;
  position: relative;
  width: 70px;
  z-index: 500;

  h2.block-title {
    background: transparent url(../images/icon_whatsapp.png) 50% 10px no-repeat;
    background-size: 45px;
    height: 60px;
    text-indent: -9999px;

  }

  .content {
    background: #FFF;
    border: 1px darken(#f4f4f4, 30) solid;
    height: 0;
    left: 0;
    overflow: hidden;
    padding-left: 10px;
    position: absolute;
    top: 60px;    
    width: 120px;

    @include transition-property("height");
    @include transition-duration(0.8s);

  }

  &:hover {
    background-color: #DDE4EA; 
    border-left: 1px #AFBCC8 solid;
    border-right: 1px #AFBCC8 solid;
    overflow: visible;
    @include background-image(linear-gradient(#FFF, #DDE4EA));

    h2.block-title {
      &:after {
        border: 7px #000 solid;
        border-color: transparent transparent darken(#f4f4f4, 30) transparent;
        bottom: 0;
        display: block;
        content: "";
        position: absolute;
        height: 0;
        left: 40%;
        width: 0;
      }
    }
    .content {
      height: 40px;
      padding-top: 5px;  
    }  
  }
}

/**
* Cart block
*/
.block-shopping-cart-block,
.block-shopping-cart-block .block-inner,
.block-shopping-cart-block .content {
  height: 100%;
  white-space: nowrap;
}
.line-item-summary-checkout {
  background: transparent;

  a {
    background: #B4239E; 
    color: #f5f5f5;
    padding: 5px 10px;
    @include border-radius(5px);
    @include background-image(linear-gradient(lighten(#B4239E, 10), #B4239E));

    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }
}
.block-shopping-cart-block {
  border-left: 1px transparent solid;
  border-right: 1px transparent solid; 
  float: left;
  margin: 0 auto;
  min-height: 56px;
  overflow: hidden;
  padding-top: 20px;
  width: 80px;
  /*margin-left: 50px; /* LTR */
  h2.block-title {
    background-image: url('../images/picto_cart.png');
    background-position: 50% 0%; /* LTR */
    background-repeat: no-repeat;   
    text-indent: -9999px;
  }

  .content {
    background: #FFF;
    border: 1px darken(#f4f4f4, 30) solid;
    float: right; /* LTR */
    height: 0;
    left: 0;
    /*margin-left: -60px; /* LTR */
    overflow: hidden;
    padding:10px 0 0 20px; /* LTR */
    position: absolute;
    top: 55px;
    width: 300px;

    @include transition-property("height");
    @include transition-duration(0.8s);

    .view-shopping-cart {
      .view-content,
      .view-footer,
      .view-empty {
        display: inline;
        float: left; /* LTR */
        font-family: $headerfont;
        font-weight: 400;
      }
      .view-content {
        ul,
        li {
          margin: 0;
          padding: 0;
        }
      }
      .view-footer {
        display: block;
        float: none;

        ul {
          background: transparent;
          margin: 0;
        }
      }
      .view-empty,
      .line-item-quantity {
        margin: 0;
        vertical-align: middle;
      }
      .view-empty p {
        float: left; /* LTR */
        line-height: 30px;
      }
      .line-item-summary {
        display: inline;
        float: left; /* LTR */
        height: 34px;
        line-height: 30px;
        margin: 0;

        .line-item-quantity {
          color: $color1;
          text-decoration: none;
        }
        .line-item-total {
          color: #888888;
          float: left; /* LTR */
          font-family: $headerfont;
          font-weight: 300;
          height: 100%;
          line-height: 30px;
          padding: 0 12px 0 6px;
        }
        .line-item-total-label {
          display: none;
        }
        ul.links {
          background-color: $cartceckoutbg;
          clear: none;
          color: $cartceckoutcolor;
          display: block;
          float: left; /* LTR */
          font-family: $headerfont;
          font-weight: 300;
          height: 100%;
          line-height: 30px;
          margin: 0 0 0 5px; /* LTR */
          padding: 0 10px;
          li {
            margin: 0;
            padding: 0;

            a {
              color: $color2;
              font-weight: 700;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  &:hover {
    height: 40px;
    overflow: visible;

    background-color: #DDE4EA; 
    border-left: 1px #AFBCC8 solid;
    border-right: 1px #AFBCC8 solid;
    @include background-image(linear-gradient(#FFF, #DDE4EA));    

    h2.block-title {
      &:after {
        border: 7px #000 solid;
        border-color: transparent transparent darken(#f4f4f4, 30) transparent;
        bottom: 5px;
        display: block;
        content: "";
        position: absolute;
        height: 0;
        left: 40%;
        width: 0;
      }
    }    

    .content {
      height: 40px;
    }
  }   
}

/**
 * Zone preface style
 */

.zone-preface > div {
  border: 1px #000 solid !important;
  display: inline-block !important;
}

 /**
  * Products view Style
  */
.product-row {
  border: 1px #EEE solid;
  float: left;
  margin: 0 4% 2% 0;
  padding: 10px 0;
  text-align: center;
  width: 45%;

  @include border-radius(5px);

  @include breakpoint(max-width 719px) {

    &:nth-child(2n+2) {
      margin-right: 0;
    }  

    &:nth-child(2n+3) {
      clear: left;
    }
  }

  & > div {
    margin-bottom: 5px;
  }

  @include breakpoint(720px 959px) {
    margin-right: 1%;
    width: 32%;

    &:nth-child(3n+3) {
      margin-right: 0;
    }  

    &:nth-child(3n+4) {
      clear: left;
    }    
  }

  @include breakpoint(960px) {
    margin-right: 1%;
    width: 24%;

    &:nth-child(4n+4) {
      margin-right: 0;
    }  

    &:nth-child(4n+5) {
      clear: left;
    }    
  }  
}

.product-row {
  position: relative;

  .title {
    font-size: 1.1em;
    font-weight: bold;
  }

  .price {
    background: #f37324;
    bottom: 80px;
    color: #FFF;
    font-weight: bold;
    left: -5px;
    padding: 5px 10px;
    position: absolute;

    @include border-radius(5px 5px 5px 0);

    &:after {
      content: "";
      display: block;
      border-width: 5px 0 0 5px;
      border-color: #d15102 transparent transparent transparent;
      border-style: solid;
      position: absolute;
      left: 0;
      bottom: -5px;  
    }
  }

  input[type="submit"] {
    border: none;
    color: #FFF;
    background: #B4239E;
    padding: 7px 15px;
    @include border-radius(5px);

    &:hover, &:active {
      background: lighten(#B4239E, 10%);
      @include box-shadow(transparent 0 0 0);
    }
  }

  input[disabled] {
    background: #CCC;

    &:hover, &:active {
      background: #CCC;
      @include box-shadow(transparent 0 0 0);
    }    
  }
}
