/**
 * Ropa Mujer styles
 */
 /**
  * Header Styles
  */
#block-search-form form {
  border: 1px #CCC solid;
  padding: 2px 5px;
  @include border-radius(10px);

  .form-text {
    background: transparent;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .form-submit {
    background: transparent;
    border: none;
  }
}

#block-block-8 {

  .content {
    p {
      border: 1px #000 solid;
    }
  }
}

#block-block-9 {
  border-left: 1px transparent solid;
  border-right: 1px transparent solid;  
  display: block;
  float: left;
  padding-top: 0;
  position: relative;
  width: 70px;
  z-index: 500;

  h2.block-title {
    background: transparent url(../images/icon_whatsapp.png) 50% 0 no-repeat;
    height: 60px;
    text-indent: -9999px;

  }

  .content {
    background: #F4F4F4;
    height: 0;
    overflow: hidden;
    padding-left: 10px;
    position: absolute;
    top: 60px;    
    width: 120px;

    @include transition-property("height");
    @include transition-duration(0.8s);

  }

  &:hover {
    
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;

    h2.block-title {
      &:after {
        border: 7px #000 solid;
        border-color: transparent transparent #f4f4f4 transparent;
        bottom: 0;
        display: block;
        content: "";
        position: absolute;
        height: 0;
        left: 40%;
        width: 0;
      }
    }
    .content {
      height: 40px;
      padding-top: 5px;  
    }  
  }
}

/**
 * Zone preface style
 */

.zone-preface > div {
  border: 1px #000 solid !important;
  display: inline-block !important;
}

 /**
  * Products view Style
  */
.product-row {
  border: 1px #EEE solid;
  float: left;
  margin: 0 4% 2% 0;
  padding: 10px 0;
  text-align: center;
  width: 45%;

  @include border-radius(5px);

  @include breakpoint(max-width 719px) {

    &:nth-child(2n+2) {
      margin-right: 0;
    }  

    &:nth-child(2n+3) {
      clear: left;
    }
  }

  & > div {
    margin-bottom: 5px;
  }

  @include breakpoint(720px 959px) {
    margin-right: 1%;
    width: 32%;

    &:nth-child(3n+3) {
      margin-right: 0;
    }  

    &:nth-child(3n+4) {
      clear: left;
    }    
  }

  @include breakpoint(960px) {
    margin-right: 1%;
    width: 24%;

    &:nth-child(4n+4) {
      margin-right: 0;
    }  

    &:nth-child(4n+5) {
      clear: left;
    }    
  }  
}

.product-row {
  position: relative;

  .title {
    font-size: 1.1em;
    font-weight: bold;
  }

  .price {
    background: #f37324;
    bottom: 80px;
    color: #FFF;
    font-weight: bold;
    left: -5px;
    padding: 5px 10px;
    position: absolute;

    @include border-radius(5px 5px 5px 0);

    &:after {
      content: "";
      display: block;
      border-width: 5px 0 0 5px;
      border-color: #d15102 transparent transparent transparent;
      border-style: solid;
      position: absolute;
      left: 0;
      bottom: -5px;  
    }
  }

  input[type="submit"] {
    border: none;
    color: #FFF;
    background: #B4239E;
    padding: 7px 15px;
    @include border-radius(5px);

    &:hover, &:active {
      background: lighten(#B4239E, 10%);
      @include box-shadow(transparent 0 0 0);
    }
  }

  input[disabled] {
    background: #CCC;

    &:hover, &:active {
      background: #CCC;
      @include box-shadow(transparent 0 0 0);
    }    
  }
}
