.popup-title-hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  text-align: center;
  width: 100%;

  @include translate(0, 0);
  @include transition-property(all);
  @include transition-duration(0.5s); 

  a {
    color: #FFF !important;
    display: inline-block;
    font-size: 2em;
    height: 50px;
    position: relative;
    z-index: 100;
  }
}
.popup-title-shown {
  opacity: 1;
  @include translate(0, 100px);
}

/**
 * slides Styles
 */
.jcarousel-skin-default .jcarousel-next-horizontal,
.jcarousel-skin-default .jcarousel-prev-horizontal {
  background: #666;
  height: 68px;
  top: 40%;
  width: 30px;

  @include transition-property("all");
  @include transition-duration(0.4s);   

  @extend .fa;
  &:before {
    font-family: "FontAwesome";
    font-size: 1.6em;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;
    margin-left: -5px;
  } 

  &:hover {
    background: #B4239E;
  } 
}
.jcarousel-skin-default .jcarousel-prev-horizontal {
  left: 5px;

  @extend .fa-angle-double-left;
}
.jcarousel-skin-default .jcarousel-next-horizontal {
  right: 5px;

  @extend .fa-angle-double-right;
}

#block-views-categorias-block,
#block-views-demo-content-slideshow-block-1 {

  .jcarousel-skin-default .jcarousel-container-horizontal {
    padding: 0;
    width: 100%;
  }

  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 100%;
  }

  .jcarousel-skin-default .jcarousel-item  {
    width: 100%;
  }
}

#block-views-categorias-block {

  .title {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    text-align: center;
    width: 100%;

    @include translate(0, 0);
    @include transition-property(all);
    @include transition-duration(0.5s); 

    a {
      color: #FFF !important;
      display: inline-block;
      font-size: 2em;
      height: 50px;
      position: relative;
      z-index: 100;
    }   
  }

  /*.jcarousel-skin-default .jcarousel-container-horizontal {
    padding: 0;
    width: 100%;
  } 

  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 100%;
  } */
  
  .jcarousel-skin-default .jcarousel-item  {
    max-width: 550px;
    position: relative;
    width: 100%;

    &:hover {

      .title {
        opacity: 1;
        @include translate(0, 100px);
      }
    }
  }  
}

.front .region-postscript-second-inner h2.block-title {
  font-size: 2.5em;
  text-align: center;
}

.outlet-carousel {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 100%;
  } 

  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 100%;
  }

  .jcarousel-skin-default .jcarousel-item   {
    margin-left: 10px;
    margin-right: 10px;
    overflow: visible;
    padding: 0 0 10px;
    width: 200px;

    @include border-radius(3px);
  }

  .title {
    padding: 20px 0 10px;
  }

  .price {
    bottom: auto !important;
    top: 50%;
  }
}

#block-views-flexslider-block-cat-flex {
  border: 1px #000 solid;

  li {
    position: relative;
  }

  .title {
    @extend .popup-title-hidden;
    @extend .popup-title-shown;
    opacity: 1;
    top: 50%;
  }
}

