/**
 * slides Styles
 */

#block-views-demo-content-slideshow-block-1 {

  .jcarousel-skin-default .jcarousel-container-horizontal {
    padding: 0;
    width: 100%;
  }

  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 100%;
  }

  .jcarousel-skin-default .jcarousel-item  {
    width: 100%;
  }
}

#block-views-categorias-block {
  
  .jcarousel-skin-default .jcarousel-container-horizontal {
    padding: 0;
  }  
  
  .jcarousel-skin-default .jcarousel-item  {
    width: 550px;
  }  
}

.front .region-postscript-second-inner h2.block-title {
  font-size: 2.5em;
  text-align: center;
}

.outlet-carousel {
  .jcarousel-skin-default .jcarousel-container-horizontal {
    width: 100%;
  } 

  .jcarousel-skin-default .jcarousel-clip-horizontal {
    width: 100%;
  }

  .jcarousel-skin-default .jcarousel-item   {
    margin-left: 10px;
    margin-right: 10px;
    overflow: visible;
    width: 230px;
  }
}

